platforms:
  enabled: true
  sources:
    - id: "toutiao"
      name: "今日头条"
    - id: "baidu"
      name: "百度热搜"
    - id: "wallstreetcn-hot" 
      name: "华尔街见闻"   # 财经必备
    - id: "36kr"
      name: "36氪"        # 科技必备
    - id: "tieba"
      name: "百度贴吧"    # 可选，如果不看贴吧可以删掉
